.top-banner{

    background-color: #1b6d85;
    height: 40px;
    width: auto;
    position: relative;

}

.top-banner h2{
    margin-top: 0px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Pacifico', cursive;

}

.menu{
    float: right;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;

}

.news{
    margin-bottom: 20px;
}
.news-desc{
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: clip;
    max-lines: 4;
    position: relative;
    margin-top: -50%;
    height: 177px;
    width: 387px;
    background-color: #333333;
    opacity: 0.8;
    filter: alpha(opacity=70);
}

.news-desc h5{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    color: white;
    text-overflow: ellipsis;

}
.news-img{
    position: relative;
}
